
<div class="row">
    <div class="col-md-12">
                
        To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
        To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

    </div>
</div>

    
@section scripts{
    <script type="text/javascript">
        require(['/app/app.js'], function(app) {
            app.run('views/home');
        });
    </script>
}